vrrp_script chk_haproxy {               # Requires keepalived-1.1.13
        script "killall -0 haproxy"     # cheaper than pidof
        interval 2                      # check every 2 seconds
        weight 2                        # add 2 points of prio if OK
}

vrrp_instance VI_1 {
        interface enp0s8
        state MASTER
        virtual_router_id 51
        priority {{priority}}                    # 101 on master, 100 on backup
        virtual_ipaddress {
            192.168.50.100
        }
        track_script {
            chk_haproxy
        }
}

